<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Loup Noir</title>
        <link rel="icon" type="image/png" href="/templates/site/images/favicon.png" />
        <link rel="stylesheet" href="/templates/site/css/principal.css" />
        <script src=""></script>
        
    </head>
    
    <body>
        <div id="main">
            <header id="header">
                <h1>Loup Noir</h1>
                <h2>Les aventures dont vous etes le heros</h2>
				<nav id="mainMenu">
					<ul>
						<li><a href="/site/index.php">Accueil</a></li>
						<li><a href="/site/news.php">News</a></li>
						<li><a href="/site/aventures.php">Aventures</a></li>
						<li><a href="/site/aide.php">Aide/Tutoriels</a></li>
						<li><a href="/site/inscription.php">Inscription</a></li>
						<li><a href="/site/connexion.php">Connexion</a></li>
					</ul>
				</nav>
            </header>
            <div id="page">
				<input type="button" value="Boutton" />
				<p class="lettrine"><a href="http://fr.lipsum.com/feed/html">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit. Sed eget leo non augue maximus semper eget eget felis. Etiam at tortor ullamcorper, dapibus odio tempor, imperdiet nibh. Donec non ipsum urna. Nunc elit neque, mattis sed nunc eget, tincidunt varius mi. Quisque orci nulla, ultricies eu est vitae, vulputate mollis turpis. Vivamus volutpat nisi ut orci molestie finibus. Pellentesque sapien dolor, pretium eget diam nec, consequat porta sem. Proin vel est eget risus suscipit imperdiet. Nulla id diam efficitur, tempus felis at, mollis sapien. Pellentesque suscipit tempus tincidunt. Sed sagittis arcu ac ante feugiat, in pharetra mauris dapibus. Proin mauris velit, porttitor a enim non, venenatis porttitor eros. Vivamus et risus malesuada augue lobortis tincidunt. Maecenas molestie in massa id maximus.
				</p>
				<p class="lettrine">Aliquam gravida at sem in consectetur. Sed lobortis pulvinar posuere. Maecenas vitae lectus molestie, efficitur neque ac, hendrerit neque. Suspendisse tristique tellus nibh, non dapibus est finibus non. Etiam mattis massa pharetra felis pretium, eu bibendum ante dapibus. Quisque eu porttitor arcu, ut condimentum felis. Nunc sollicitudin pulvinar odio ut tincidunt. Nunc aliquet sagittis quam id porta. Maecenas consectetur magna lectus. Praesent ac ligula ac arcu bibendum venenatis. In egestas quam sed quam tristique, eu imperdiet metus auctor. Maecenas ultrices volutpat nunc, sed convallis neque malesuada nec. Duis convallis volutpat nisl at porta. Fusce eu velit vitae eros lacinia bibendum at a neque. Sed a porttitor velit, vitae eleifend massa. Phasellus ullamcorper urna lacus, at aliquet ante placerat ac.
				</p>
				<p class="alinea">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas fermentum semper mi, vitae vulputate diam euismod at. Maecenas vel odio condimentum eros venenatis pretium. Nulla imperdiet tortor sed nunc cursus, et viverra tellus mollis. Morbi ultricies ac sapien et aliquet. In pulvinar, erat ac mattis dignissim, eros mi rhoncus lacus, sodales accumsan eros elit eget ligula. Sed fermentum eget enim faucibus tempus. Phasellus fringilla elit a commodo tincidunt.
				</p>
				<p class="alinea">Fusce dignissim sapien et leo hendrerit consectetur. Ut hendrerit sed orci et iaculis. Fusce nunc nulla, laoreet vel volutpat tristique, viverra quis dui. Aenean fermentum molestie tristique. Quisque in congue neque. Phasellus quis justo sit amet diam viverra venenatis vel condimentum elit. Sed velit tellus, vehicula eu vulputate nec, luctus quis tortor. Proin nec vestibulum velit. In sit amet hendrerit ligula, et posuere lorem.
				</p>
				<p class="alinea">Duis in libero felis. Duis dictum vel dolor vitae aliquet. Vivamus quis turpis posuere, scelerisque urna sit amet, bibendum enim. Nulla vitae mollis nibh, iaculis pharetra diam. Nunc ligula lorem, sollicitudin at ligula et, blandit imperdiet augue. Suspendisse id blandit diam. Sed porta orci massa, nec accumsan elit tempus sit amet.
				</p>
			</div>
            <footer id="footer">
                <p>Toute copie partielle ou totale du site interdite sans autorisation du <a href="/site/webmaster.php">webmaster</a></p>
            </footer>
        </div>
        
        <script src="/templates/site/js/general.js"></script>
        <script src="/templates/site/js/formulaires.js"></script>
    </body>
</html>
